<h1>View <%= pluralize(@actors.count, "Actor") %> </h1>

<table class="table table-striped">
	<thead>
		<th scope="col">First Name</th>
		<th scope="col">Last Name</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
		<% @actors.each do |actor| %>
		<tr>
			<td><%= actor.first_name%></td>
			<td><%= actor.last_name%></td>
			<td>
				
				<a href="/actors/<%= actor.id %>">Show</a> |
				<a href="/actors/<%= actor.id %>/edit">Edit</a> |
				<a href="/actors/<%= actor.id %>/delete">Delete</a>

			</td>
			<% end %>
		</tr>
	</tbody>
</table>
<a href="/actors/new">Create Actor</a>