<!--
	pluralize is a Ruby method that returns the plural form of the word in the string. 
	if the first parameter, count, is specified, the singluar form of the dtring will 
	be returned if the count == 1. for any other count, the plural form of the string will be returned 
	count is a Ruby method that returns the number of elements in the array of movie objects. 
-->
<h1>View Actor's <%= pluralize(@movies.count, "Movie") %> </h1>

<table>
	<thead>
		<th>Title</th>
		<th>Duration</th>
		<th>Rating</th>
		<th>Release Date</th>
	</thead>
	<tbody>
		<!--
			each is a Ruby method that iterates over a code block for each element 
			in the array of movie objects. 
		-->
		<% @movies.each do |movie| %>
		<tr>
			<td><%= movie.title %></td>
			<td><%= movie.duration %></td>
			<td><%= movie.rating %></td>
			<!--
				strftime is a Ruby method that formats a date based on the format 
				specifier its given 
			-->
			<td><%= movie.release_date.strftime("%Y-%m-%d") %></td>
			</tr>
			<% end %>
	</tbody>
</table>
<a href="/actors">View Actors</a>